{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>
<p>Doctor who is a sci-fi TV series boardcasted in the BBC sience 1963.</p>
<p>At first, there was aseries from 1963 to 1989, then it ended.</p>
<p>In 1996 there was a TV movie about the doctor.</p>
<p>In 2005, A new series started and is still voardcasted at the BBC</p>

<a herf="https://en.wikipedia.org/wiki/Doctor_Who">More about the series</a>
<p></p>
<a herf="https://tardis.fandom.com/wiki/Doctor_Who_Wiki">EVEN MORE ABOUT THE SERIES</a>

{% endblock %}
