{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>
<table style= border-bottom: 10px solid #ddd  padding: 15px; text-align: left;>
<tr>
    <td>
        <img src="https://upload.wikimedia.org/wikipedia/en/thumb/7/70/First_Doctor_%28Doctor_Who%29.jpg/220px-First_Doctor_%28Doctor_Who%29.jpg" style="height: 271px;width: 200px" />
        <!--first doctor-->
    </td>
    <td>
        <h3>The first doctor</h3>
        <h4>Portrayed by William Hartnell</h4>
        <p>The first of the original series.</p>
        <p>His first apperance was in the forst episode of the first season of the original series, "An Unearthly Child".</p>
        <p>His last apperance was in the eighth episode of the fourth season of the original series, "The Tenth Planet" (part 4).</p>
        <p>Originaly, the actor didn't want to take the role because the series seemed childish to him.</p>
    </td>
</tr>
<tr>
    <td>
        <img src="https://i.dailymail.co.uk/i/pix/2013/11/01/article-2483491-191FB0FD00000578-65_310x440.jpg" style="height: 284px;width: 200px" />
        <!--second doctor-->
    </td>
    <td>
        <h3>The second doctor</h3>
        <h4>Portrayed by Patrick Troughton</h4>
        <p>The second doctor of the priginal series.</p>
        <p>His first apperance was in the eighth episode of the fourth season of the original series, "The Tenth Planet" (part 4).</p>
        <p>His last apperance was in the 44th episode of the sixth season of the original series, "The War Games" (part 10).</p>
        <p>He was one of the only two doctors to first appere in a middle of a season and not at the end of it.</p>
    </td>
</tr>
<tr>
    <td>
        <img src="http://4.bp.blogspot.com/-jYtUWO0p15U/UiIISzoDJcI/AAAAAAAAJMw/2tpZ50Bry0A/s1600/Third+Doctor.jpg" style="height: 294px;width: 200px" />
        <!--third doctor-->
    </td>
    <td>
        <h3>The third doctor</h3>
        <h4>Portrayed by Jon Pertwee</h4>
        <p>His first apperance was in the first episode of the seventh season, "Spearhead from Space" (part 1)</p>
        <p>His last apperance was in the 26th episode of the eleventh season, "Planet of the Spiders" (part 6)</p>
        <p>He was the only doctor that tells about the doctors' childhood, which is very mysterious for the entire show.</p>
    </td>
</tr>
<tr>
    <td>
        <img src="https://2.bp.blogspot.com/-qylg7aLK9fo/WBRe0CEB8LI/AAAAAAAAZkA/WqVzBMU3tccDvivnm90lXJSMtlRMAI4AwCLcB/s1600/The%2BStones%2Bof%2BBlood%2BPublicity%2B1.jpg" style="height: 351px;width: 200px" />
        <!--fourth doctor-->
    </td>
    <td>
        <h3>The fourth doctor</h3>
        <h4>Portrayed by Tom Baker</h4>
        <p>The fourth doctor of the originak series.</p>
        <p>His first apperance was in the 26th episode of the eleventh season, "Planet of the Spiders" (part 6).</p>
        <p>His last apperance was in the 28th episode of the 18th season of the original series, "Logopolis" (part 4).</p>
        <p>Many of his main story arc was written by th legendary writer Douglas Adams, which made him one of the most beloved doctors.</p>
    </td>
</tr>
<tr>
    <td>
        <img src="https://dwanything.files.wordpress.com/2009/11/fifth_doctor.jpg" style="height: 304px;width: 200px" />
        <!--fifth doctor-->
    </td>
    <td>
        <h3>The fifth doctor</h3>
        <h4>Portrayed by Peter Davison</h4>
        <p>The fifth doctor of the original series.</p>
        <p>His first apperance was in the 28th episode of the 18th season of the original series, "Logopolis" (part 4).</p>
        <p>His last apperance was in the22th episode of the 21st season of the original series, "The Caves of Androzani" (part 4).</p>
        <p>He used to wear a celery stick on his jacket.</p>
    </td>
</tr>
<tr>
    <td>
        <img src="https://static.tvtropes.org/pmwiki/pub/images/dw_-_sixth_doctor_5773.jpg" style="height: 275px;width: 200px" />
        <!--sixth doctor-->
    </td>
    <td>
        <h3>The sixth doctor</h3>
        <h4>Portrayed by Colin Baker</h4>
        <p>The sixth doctor of the original series.</p>
        <p>His first apperance was in the 22th episode of the 21st season of the original series, "The Caves of Androzani" (part 4).</p>
        <p>His last apperance was in the 14th episode of the 23th season, "The Trial of a Time Lord" (part 14)</p>
        <p>His apperance was so short he was one of the most hated doctors by the fans.</p>
    </td>
</tr>
<tr>
    <td>
        <img src="https://i.pinimg.com/originals/86/dc/cc/86dccc0a2353101ee732054df1b543d9.jpg" style="height: 336px;width: 200px" />
        <!--seventh doctor-->
    </td>
    <td>
        <h3>The seventh doctor</h3>
        <h4>Portrayed by Sylvester McCoy</h4>
        <p>The last doctor of the original series</p>
        <p>His first apperance was in the first episode of the 24th season, "Time and the Rani" (part 1)</p>
        <p>His last apperance was in the 1996 TV movie.</p>
        <p>He Was The only doctor who wasn't the main doctor in his regenartion story.</p>
</td>
</tr>
<tr>
    <td>
        <img src="https://upload.wikimedia.org/wikipedia/en/a/a1/Eighth_Doctor_%28Doctor_Who%29_%28cropped%29.jpg" style="height: 306px;width: 200px" />
        <!--eighth doctor-->
    </td>
    <td>
        <h3>The eight doctor</h3>
        <h4>Portrayed by Paul McGann</h4>
        <p>The doctor of the 1996 TV movie</p>
        <p>His first and last apperances were in the 1996 TV movie of the series.</p>
        <p>He was the only doctor to only appere in one story.</p>
    </td>
</tr>
<tr>
    <td>
        <img src="https://i.pinimg.com/736x/8b/8b/47/8b8b475ca2ec11c80ce2784b5a58c3d3.jpg" style="height: 285px;width: 200px" />
        <!--war doctor-->
    </td>
    <td>
        <h3>The war doctor</h3>
        <h4>Portrayed by John Hurt</h4>
        <p>The ninth doctor, chronologicly</p>
        <p>He hasn't appered in the series or in any movie exepct of 3 cameos</p>
        <p>but His actions in the time war was very important and are talked many times in the new series.</p>
        <p>The doctor is so ashamed in the war crimes he commited as the war doctor that he isn't counted as one of the incarnations.</p>
    </td>
</tr>
<tr>
    <td>
        <img src="http://1.bp.blogspot.com/-7qE_aLpcx-A/UkmytkMUKRI/AAAAAAAAOrI/VWO1T6yxS2s/s1600/158193.1.jpg" style="height: 300px;width: 200px" />
        <!--ninth doctor-->
    </td>
    <td>
        <h3>The ninth doctor</h3>
        <h4>Portrayed by Christopher Eccleston</h4>
        <p>The first doctor of the new series</p>
        <p>His first apperance was in the first episode of the first season of the original series, "Rose".</p>
        <p>His last apperance was in the 13th episode of the first season of the original series, "The Parting of the Ways".</p>
        <p>He was replaced so quickly because the actor had problems with the producer.</p>
    </td>
</tr>
<tr>
    <td>
        <img src="http://1.bp.blogspot.com/-TVy_EzQYV9E/TnFVwR0Sb6I/AAAAAAAAAtg/vBXUqN4eVPY/s1600/davidtennant.jpg" style="height: 304px;width: 200px" />
        <!--tenth doctor-->
    </td>
    <td>
        <h3>The tenth doctor</h3>
        <h4>Portrayed by David Tannent</h4>
        <p>The second doctor of the new series</p>
        <p>His first apperance was in the 13th episode of the first season of the original series, "The Parting of the Ways".</p>
        <p>His last apperance was in the fourth special episode of the fourth season of the new series, "The End of Time" (part 2)</p>
        <p>He was the first incarnation of the doctor to meet River Song, one of the most important charachters in the series.</p>
    </td>
</tr>
<tr>
    <td>
        <img src="https://upload.wikimedia.org/wikipedia/en/2/29/Eleventh_Doctor_purple_coat.jpg" />
        <!--eleventh doctor-->
    </td>
    <td>
        <h3>The eleventh doctor</h3>
        <h4>Portrayed by Matt Smith</h4>
        <p>The third doctor of the new series</p>
        <p>His first apperance was in fourth special episode of the fourth season of the new series, "The End of Time" (part 2)</p>
        <p>His last apperance was in the 50-years anniversary of the show, "The Day of the Doctor".</p>
        <p>BOW-TIES ARE COOL!</p>
    </td>
</tr>
<tr>
    <td>
        <img src="https://i.pinimg.com/originals/24/b8/93/24b8931c3b598c617d09dc732cc3130b.jpg" style="height: 283px;width: 200px" />
        <!--twelfth doctor-->
    </td>
    <td>
        <h3>The twelfth doctor</h3>
        <h4>Portrayed by Peter Capaldi</h4>
        <p>The fourth doctor of the new series</p>
        <p>His first apperance was in the 50-years anniversary of the show, "The Day of the Doctor".</p>
        <p>His last apperance was in the 2017 christmas special, "Twice Upon a Time".</p>
        <p>All the doctor's incarnations are based on people that the doctor has seen, but his was the only one who appered in the show.</p>
        
    </td>
</tr>
<tr>
    <td>
        <img src="https://www.cleveland.com/resizer/7ns9iRj_sDM1keXCvmYSAnpdpow=/325x0/smart/image.cleveland.com/home/cleve-media/width600/img/ent_impact_home/photo/doctor-who-series-11-costume-reveal-032bcdaaa7da6ba7.jpg" style="height: 341px;width: 200px" />
        <!--thirteenth doctor-->
    </td>
    <td>
        <h3>The thirteenth doctor</h3>
        <h4>Portrayed by Jodie Whittaker</h4>
        <p>The fifth doctor of the new series</p>
        <p>Her first apperance was in the 2017 christmas special, "Twice Upon a Time".</p>
        <p>Her last apperance is yet to be boardcasted.</p>
        <p>She's the first female incarnation of the doctor.</p>
    </td>
</tr>
</table>


{% endblock %}
