{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>The Doctor</h1>
    <p class="lead">
        The doctor is the main charchter in the TV series
        "doctor who" produced by the BBC studios.
        The doctor is from the Time Lord species from
        the planet Gallifray. His species was destroyd in
        a war with another spices called the Daleks.
        for the 57 years the series is in air, many actors
        played the role of the doctor. The time lord species
        has an ability to regenerate when they are close to death
        so every time the doctor regenerates his body is replaced
        and another actor takes his role.
    </p>
    <p><a href="https://en.wikipedia.org/wiki/The_Doctor_(Doctor_Who)" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

{% endblock %}
